@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,100&family=Playfair+Display&display=swap');

.upper-nav {
    height: 60px;
    background-color: #19242D;
}

.mega {
    color: #DC5426;
    opacity: 0.6;
    font-size: 25px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    word-wrap: break-word
}

.cars,
.ad {
    color: white;
    opacity: 0.6;
    font-size: 25px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    word-wrap: break-word
}

.advert {
    color: #E59D48;
    text-transform: uppercase;
    font-size: 25px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    word-wrap: break-word
}

.logo {
    margin-left: 7%;
}

.logo::after,
.vectors::after,
.login::after,
.soc-media::after {
    content: "";
    margin-left: 10%;
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 0.50px #394957 solid
}

.mega-cars {
    margin-left: -23px;
}

.mega-ad {
    margin-left: -11%;
}

.login-btn {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-family: Exo 2;
    font-weight: 700;
    word-wrap: break-word
}

.login {
    margin-left: -14%;
}

.phone {
    color: white;
    font-size: 20px;
    font-family: Exo 2;
    font-weight: 700;
    word-wrap: break-word
}

.contact {
    margin-left: -26%;
}

.social-media {
    margin-left: -68%;
}

.second-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 60px;
    background-color: #202D39;
    color: white;
}

.home {
    background: #008AEE;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    margin: 10px 28px;
    margin-right: 4px;
    margin-left: 7%;
    padding: 18px;
}

.nav-btn {
    margin: 10px 2px;
    padding-left: 45px;
    padding-right: 45px;
    background: #008AEE;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.second-line .nav-btn:nth-child(3) {
    background: #5FB865;
}

.second-line .nav-btn:nth-child(4) {
    background: #63C7C9;
}

.second-line .nav-btn:nth-child(5) {
    background: #DC5426;
}

.second-line .nav-btn:nth-child(6) {
    background: #E59D48;
}

.second-line .nav-btn:nth-child(7) {
    background: #BD5FE9;
}

.second-line .nav-btn:nth-child(8) {
    background: #202D39;
    border: 0.75px #DC5426 solid;

}

.last-nav-btn {
    position: relative;
}

.last-nav-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #202D39;
    z-index: 3;
    overflow: hidden;
}

.last-nav-btn img {
    vertical-align: middle;
}

.last-nav-btn .nav-btns {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Exo 2, sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}



.nav-btns {
    color: white;
    font-size: 18px;
    font-family: Exo 2, sans-serif;
    font-weight: 500;
    word-wrap: break-word;
    text-decoration: none;

}


/* Search section  */

.search-section {
    display: inline-flex;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #008AEE;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-container {
    width: 1440px;
    height: 264px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #008AEE;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex
}

.search-box {
    display: flex;
    height: 214px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 20px;
    background: #FEFEFE;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.inner-search {
    width: 1120px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    display: inline-flex
}

.search-icon {
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex
}

.search-vector {
    width: 18px;
    height: 18px;
}

.quick-search {
    color: #19242D;
    font-size: 26px;
    font-family: Exo 2;
    font-weight: 700;
    word-wrap: break-word
}

.search-input {
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    display: inline-flex;
}

.search-form {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 680px;
    border-radius: 25px;
    border: 0.50px #008AEE solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}

#search-input {
    color: #777777;
    width: 206%;
    outline: none;
    font-size: 20px;
    font-family: Exo 2;
    font-weight: 500;
    word-wrap: break-word;
    border: none;
}

.search-btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12.50px;
    padding-bottom: 12.50px;
    background: #008AEE;
    border-radius: 25px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.btn {
    color: #FEFEFE;
    font-size: 26px;
    font-family: Exo 2;
    font-weight: 700;
    word-wrap: break-word;
    border: none;
    background: none;
}

.sections-btns {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}

.search-btns {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #008AEE;
    border-radius: 25px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex
}

.btns {
    color: #FEFEFE;
    text-decoration: none;
    font-size: 18px;
    font-family: Exo 2;
    font-weight: 700;
    word-wrap: break-word
}

.sections-btns .search-btns:nth-child(2) {
    background: none;
    
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 25px;
    border: 0.75px #008AEE solid;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex
}

.sections-btns .search-btns:not(:first-child) a {
  color: #19242D;
}

.sections-btns .search-btns:nth-child(3) {
    background: none;
    border: 0.75px #5FB865 solid;
}
.sections-btns .search-btns:nth-child(4) {
    background: none;
    border: 0.75px #63C7C9 solid;
}
.sections-btns .search-btns:nth-child(5) {
    background: none;
    border: 0.75px #DC5426 solid;
}
.sections-btns .search-btns:nth-child(6) {
    background: none;
    border: 0.75px #E59D48 solid;
}



.banners-slider img {
    width: 100%;
    height: 299px;
}